<nav class="rmu-combat-storyboard-tabs" data-group="primary">
    <a class="item {{#if (eq state.activeTab 'config')}}active{{/if}}" data-action="changeTab" data-tab="config">{{localize "RMU_STORYBOARD.Wizard.Tabs.Config"}}</a>
    <a class="item {{#if (eq state.activeTab 'roster')}}active{{/if}}" data-action="changeTab" data-tab="roster">{{localize "RMU_STORYBOARD.Wizard.Tabs.Roster"}}</a>
    <a class="item {{#if (eq state.activeTab 'timeline')}}active{{/if}}" data-action="changeTab" data-tab="timeline">{{localize "RMU_STORYBOARD.Wizard.Tabs.Timeline"}}</a>
    <a class="item {{#if (eq state.activeTab 'export')}}active{{/if}}" data-action="changeTab" data-tab="export">{{localize "RMU_STORYBOARD.Wizard.Tabs.Export"}}</a>
</nav>